@model List<pro.EntitiesLayer.Models.SubCategory>
@{ 
    Layout = null;

}
<div class="widget catagory mb-50">
    <!-- Widget Title -->
    <h6 class="widget-title mb-30">Catagories</h6>

    <!--  Catagories  -->
    <div class="catagories-menu">
        <ul id="menu-content2" class="menu-content collapse show">
            <!-- Single Item -->
          
            <li data-toggle="collapse" data-target="#clothing">
                <a href="#">CLOTHING</a>
                <ul class="sub-menu collapse show" id="clothing">
                   @foreach (var item in Model)
                   {
                    <li><a href="#">@item.Name</a></li>
                   }

                </ul>
            </li>
            <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                <a href="#">SHOES</a>
                <ul class="sub-menu collapse" id="shoes">
                    @foreach (var item in Model)
                    {
                        <li><a href="#">@item.Name</a></li>
                    }

                </ul>
            </li>
            <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                <a href="#">ACCESSORIES</a>
                <ul class="sub-menu collapse" id="accessories">
                    @foreach (var item in Model)
                    {
                        <li><a href="#">@item.Name</a></li>
                    }

                </ul>
            </li>
           

        </ul>
    </div>
</div>